version: '3.8'
services:
  web:
    build: ./backend
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./backend:/app
    expose:
      - '8000'
    env_file:
      - .env
  frontend:
    build: ./frontend
    command: npm run build && tail -f /dev/null
    volumes:
      - ./frontend:/app
    working_dir: /app
  nginx:
    image: nginx:stable-alpine
    depends_on:
      - web
      - frontend
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend/dist:/usr/share/nginx/html:ro
